{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "strict",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "proseWrap": "always",
  "trailingComma": "es5"
}
